# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
**/venv/

# SQLite database files
*.sqlite3
.db

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Env variables
.env
**/env
.venv
venv/

# Python logs
*.log

# OS files
.DS_Store
Thumbs.db

# Pipenv files if you don't want to include them (optional)
# Pipfile.lock