[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.11.1"
certifi = "==2026.1.4"
charset-normalizer = "==3.4.4"
click = "==8.3.1"
colorama = "==0.4.6"
django = "==6.0.1"
idna = "==3.11"
requests = "==2.32.5"
services = "==0.1.1"
sqlparse = "==0.5.5"
tzdata = "==2025.3"
urllib3 = "==2.6.3"

[dev-packages]

[requires]
python_version = "3.13"
